<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>chewy.ttf</string>
	</array>
	<key>CLOUDINARY_CLOUD_NAME</key>
	<string></string>
	<key>CLOUDINARY_UNSIGNED_UPLOAD_PRESET</key>
	<string></string>
</dict>
</plist>
