<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>chewy.ttf</string>
	</array>
	<key>CLOUDINARY_CLOUD_NAME</key>
	<string>dgowl1p3x</string>
	<key>CLOUDINARY_UNSIGNED_UPLOAD_PRESET</key>
	<string>fifoo_app</string>
	<key>FIFOO_BACKEND_URL</key>
	<string>http://172.20.10.2:3000</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ai.fifoo.authentication</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fifoo</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
